{% for job in jobs %}
							
							<li>
								<div class="post-bx">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											
											<span><img alt="" src="{{job.company.logo.url}}"></span>
											
										</div>
										<div class="job-post-info">
											<h4><a href="{% url 'job:detailview' job.id %}">{{job.name}}</a></h4>
											<ul>
												<li><i class="fa fa-map-marker"></i>{{job.ostan}}</li>
												<li><i class="fa fa-bookmark-o"></i> {{job.style}}</li>
												<li><i class="fa fa-clock-o"></i> {{job.days_passed}}</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											{% if job.telecommuting %}
										 	<a href="javascript:void(0);"><span>دورکاری</span></a>
											{% endif %}
										</div>
										<div class="salary-bx">
											<span>{{job.salary}}میلیون</span>
										</div>
									</div>
									<label class="like-btn">
										  <input class='inputid' type="checkbox" data-id="{{job.id}}" {% if job in request.user.userprofile.wish_list.all %} checked="checked" {% endif %} >
										  
										  <span class="checkmark"></span>
									</label>
								</div>
							</li>
							{% endfor %}

