{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url({{about_us.banner.url}});">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">درباره ما</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">خانه</a></li>
							<li>درباره ما</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<div class="content-block">
            <div class="section-full content-inner">
				<div class="container">
					<div class="row align-items-center m-b50">
						<div class="col-md-12 col-lg-6 m-b20">
							<h2 class="m-b5">درباره ما</h2>
							<h3 class="fw5">{{about_us.title}}</h3>
							<p class="m-b15">{{about_us.body}}</p>
							<a href="javascript:void(0);" class="site-button">اطلاعات بیشتر</a>
						</div>
						<div class="col-md-12 col-lg-6">
							<img src="{{about_us.image.url}}" alt="">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 m-b30">
							<div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
								<div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="ti-desktop"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte text-uppercase">اپلیکیشن موبایل</h5>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 m-b30">
							<div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
								<div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="ti-image"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte text-uppercase">رونق کسب و کار</h5>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 m-b30">
							<div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
								<div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><i class="ti-cup"></i></a> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte text-uppercase">میلیونر شوید</h5>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Chose Us -->
			<!-- Call To Action -->
			<div class="section-full content-inner-2 call-to-action overlay-black-dark text-white text-center bg-img-fix" style="background-image: url({{zir.banner.url}});">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="m-b10">{{zir.title}}</h2>
							<p class="m-b0">{{zir.zir_title}}</p>
							<a href="{{zir.button_link}}" class="site-button m-t20 outline outline-2 radius-xl">{{zir.button_name}}</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Call To Action END -->
			<!-- Our Latest Blog -->
			<div class="section-full content-inner-2 bg-white">
				<div class="container">
					<div class="section-head text-black text-center">
						<h2 class="text-uppercase m-b0">آخرین خبرها</h2>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
					</div>
					<div class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-btn-center-lr owl-btn-1">
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="blog-details.html"><img src="images/blog/grid/pic4.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>8 خرداد، 1400</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">169</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="blog-details.html">آیا شغلی دارید که افراد عادی حتی از وجود آن خبر ندارند؟</a></h5>
									</div>
									<div class="dez-post-text">
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="blog-details.html" title="اطلاعات بیشتر" rel="bookmark" class="site-button-link"><span class="fw6">اطلاعات بیشتر</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="blog-details.html"><img src="images/blog/grid/pic3.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>8 خرداد، 1400</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">169</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="blog-details.html">آیا شغلی دارید که افراد عادی حتی از وجود آن خبر ندارند؟</a></h5>
									</div>
									<div class="dez-post-text">
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="blog-details.html" title="اطلاعات بیشتر" rel="bookmark" class="site-button-link"><span class="fw6">اطلاعات بیشتر</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="blog-details.html"><img src="images/blog/grid/pic2.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>8 خرداد، 1400</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">169</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="blog-details.html">آیا شغلی دارید که افراد عادی حتی از وجود آن خبر ندارند؟</a></h5>
									</div>
									<div class="dez-post-text">
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="blog-details.html" title="اطلاعات بیشتر" rel="bookmark" class="site-button-link"><span class="fw6">اطلاعات بیشتر</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post blog-grid blog-style-1">
								<div class="dez-post-media dez-img-effect radius-sm"> <a href="blog-details.html"><img src="images/blog/grid/pic1.jpg" alt=""></a> </div>
								<div class="dez-info">
									 <div class="dez-post-meta">
										<ul class="d-flex align-items-center">
											<li class="post-date"><i class="fa fa-calendar"></i>8 خرداد، 1400</li>
											<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">169</a> </li>
										</ul>
									</div>
									<div class="dez-post-title ">
										<h5 class="post-title font-20"><a href="blog-details.html">آیا شغلی دارید که افراد عادی حتی از وجود آن خبر ندارند؟</a></h5>
									</div>
									<div class="dez-post-text">
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
									</div>
									<div class="dez-post-readmore blog-share"> 
										<a href="blog-details.html" title="اطلاعات بیشتر" rel="bookmark" class="site-button-link"><span class="fw6">اطلاعات بیشتر</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Our Latest Blog -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Modal Box -->
	<div class="modal fade lead-form-modal" id="car-details" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-body row m-a0 clearfix">
					<div class="col-lg-6 col-md-6 overlay-primary-dark d-flex p-a0" style="background-image: url(images/background/bg3.jpg);  background-position:center; background-size:cover;">
						<div class="form-info text-white align-self-center">
							<h3 class="m-b15">وارد حساب کاربری خود شوید</h3>
							<p class="m-b15">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							<ul class="list-inline m-a0">
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 p-a0">
						<div class="lead-form browse-job text-left">
							<form>
								<h3 class="m-t0">ورود</h3>
								<div class="form-group">
									<input value="" class="form-control" placeholder="نام">
								</div>	
								<div class="form-group">
									<input value="" class="form-control" placeholder="شماره موبایل">
								</div>
								<div class="clearfix">
									<button type="button" class="btn-primary site-button btn-block">ثبت </button>
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- Modal Box End -->
{% endblock %}