{% extends 'base.html' %}

{% load static %}
{% block body %}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- contact area -->
        <div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white p-t50 p-b20">
				<div class="container">
					<div class="row">
						
						<div class="col-xl-3 col-lg-4 m-b30">
							<div class="sticky-top">
								<div class="candidate-info company-info">
									<div class="candidate-detail text-center">
										<div class="canditate-des">
											<a href="javascript:void(0);">
												<img alt="" src="{% static 'images/logo/icon3.jpg' %}">
											</a>
											<div class="upload-link" title="آپلود عکس پروفایل" data-toggle="tooltip" data-placement="left">
												<input type="file" class="update-flie">
												<i class="fa fa-pencil"></i>
											</div>
										</div>
										<div class="candidate-title">
											<h4 class="m-b5"><a href="javascript:void(0);">ادمین</a></h4>
										</div>
									</div>
								{% include 'layout/company_rtl_div.html' %}
								</div>
							</div>
						</div>

						<div class="col-xl-9 col-lg-8 m-b30">
							<div class="job-bx submit-resume">
								<div class="job-bx-title clearfix">
									<h5 class="font-weight-700 pull-left text-uppercase">پروفایل شرکت</h5>
									<a href="#" class="site-button right-arrow button-sm float-right">بازگشت</a>
								</div>
								<form method='post' enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row m-b30">
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>نام شرکت</label>
												{{form.name}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>ایمیل</label>
												{{form.email}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>وبسایت</label>
											{{form.website}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>تاریخ تاسیس </label>
											{{form.date_foundations}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>آدرس شرکت</label>
												{{form.locations}}
											</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<label>توضیحات در مورد شرکت:</label>
												{{form.info}}
										</div>
									</div>
									<!-- Contact Information -->
									<div class="job-bx-title clearfix">
										<h5 class="font-weight-700 pull-left text-uppercase">اطلاعات تماس</h5>
									</div>
									<div class="row m-b30">
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>تلفن</label>
												{{form.phone}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>استان</label>
												{{form.ostan}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>شهر</label>
											{{form.city}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>کد پستی</label>
												{{form.code_posty}}
											</div>
										</div>
										
										
									</div>
									<!-- Social Link -->
									<div class="job-bx-title clearfix">
										<h5 class="font-weight-700 pull-left text-uppercase">شبکه های اجتماعی</h5>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>اینستاگرام</label>
											{{form.instagram}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>فیسبوک</label>
											{{form.facebook}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>تلگرام</label>
											{{form.telegram}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>لینکیدن</label>
												{{form.linkedin}}
											</div>
										</div>
									</div>
									<button type="ثبت" class="site-button m-b30">ذخیره تغییرات</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Browse Jobs END -->
		</div>
    </div>
    <!-- Content END-->
	<!-- Modal Box -->
	<div class="modal fade lead-form-modal" id="car-details" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-body row m-a0 clearfix">
					<div class="col-lg-6 col-md-6 overlay-primary-dark d-flex p-a0" style="background-image: url(images/background/bg3.jpg);  background-position:center; background-size:cover;">
						<div class="form-info text-white align-self-center">
							<h3 class="m-b15">وارد حساب کاربری خود شوید</h3>
							<p class="m-b15">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							<ul class="list-inline m-a0">
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 p-a0">
						<div class="lead-form browse-job text-left">
							<form>
								<h3 class="m-t0">ورود</h3>
								<div class="form-group">
									<input value="" class="form-control" placeholder="نام">
								</div>	
								<div class="form-group">
									<input value="" class="form-control" placeholder="شماره موبایل">
								</div>
								<div class="clearfix">
									<button type="button" class="btn-primary site-button btn-block">ثبت </button>
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- Modal Box End -->
{% endblock %}