{% extends 'base.html' %}
{% load static %}
    <!-- header END -->
    <!-- Content -->
	{% block body %}
    <div class="page-content bg-white">
        <!-- contact area -->
        <div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white p-t50 p-b20">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4 m-b30">
							<div class="sticky-top">
								<div class="candidate-info company-info">
									<div class="candidate-detail text-center">
										<div class="canditate-des">
											<a href="javascript:void(0);">
												<img alt="" src="images/logo/icon3.jpg">
											</a>
											<div class="upload-link" title="آپلود عکس پروفایل" data-toggle="tooltip" data-placement="left">
												<input type="file" class="update-flie">
												<i class="fa fa-pencil"></i>
											</div>
										</div>
										<div class="candidate-title">
											<h4 class="m-b5"><a href="javascript:void(0);">ادمین</a></h4>
										</div>
									</div>
									{% include 'layout/company_rtl_div.html' %}
								</div>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8 m-b30">
							<div class="job-bx clearfix">
								<div class="job-bx-title clearfix">
									<h5 class="font-weight-700 pull-left text-uppercase">رزومه های دریافت شده</h5>
								</div>
								<ul class="cv-manager">
									{% for cv in CV_SEND %}
									<li>
										<div class="d-flex float-left">
											<div class="job-post-company">
												<a href="javascript:void(0);"><span>
													<img src="{% static 'images/testimonials/pic1.jpg' %}">
												</span></a>
											</div>
											<div class="job-post-info">
												<h6><a href="javascript:void(0);">{{cv.sender}}</a></h6>
												<ul>
													<li><i class="fa fa-bookmark-o"></i><a href="{% url 'job:detailview' cv.post.id %}">{{cv.post}}</a></li>
													<li><i class="fa fa-clock-o"></i> {{cv.days_passed}}</li>
												</ul>
											</div>
										</div>
										<div class="job-links action-bx">
											<a href="{{cv.cv_file.url}}" target="blank"><i class="fa fa-download"></i></a>
											<a href="{% url 'resume:delete_cv' cv.id %}"><i class="ti-trash"></i></a>
										</div>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Browse Jobs END -->
		</div>
    </div>
    <!-- Content END-->
	<!-- Modal Box -->
	<div class="modal fade lead-form-modal" id="car-details" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-body row m-a0 clearfix">
					<div class="col-lg-6 col-md-6 overlay-primary-dark d-flex p-a0" style="background-image: url(images/background/bg3.jpg);  background-position:center; background-size:cover;">
						<div class="form-info text-white align-self-center">
							<h3 class="m-b15">وارد حساب کاربری خود شوید</h3>
							<p class="m-b15">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							<ul class="list-inline m-a0">
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 p-a0">
						<div class="lead-form browse-job text-left">
							<form>
								<h3 class="m-t0">ورود</h3>
								<div class="form-group">
									<input value="" class="form-control" placeholder="نام">
								</div>	
								<div class="form-group">
									<input value="" class="form-control" placeholder="شماره موبایل">
								</div>
								<div class="clearfix">
									<button type="button" class="btn-primary site-button btn-block">ثبت </button>
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- Modal Box End -->
{% endblock %}