<ul>
    <li><a href="jobs-profile.html" class="active">
        <i class="fa fa-user-o" aria-hidden="true"></i> 
        <span>پروفایل</span></a></li>
    <li><a href="jobs-my-resume.html">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> 
        <span>رزومه من</span></a></li>
    <li><a href="jobs-saved-jobs.html">
        <i class="fa fa-heart-o" aria-hidden="true"></i> 
        <span>شغل های ذخیره شده</span></a></li>
    <li><a href="jobs-applied-job.html">
        <i class="fa fa-briefcase" aria-hidden="true"></i> 
        <span>شغل های ثبت شده</span></a></li>
    <li><a href="jobs-alerts.html">
        <i class="fa fa-bell-o" aria-hidden="true"></i> 
        <span>هشدارها</span></a></li>
    <li><a href="jobs-cv-manager.html">
        <i class="fa fa-id-card-o" aria-hidden="true"></i> 
        <span>مدیریت رزومه</span></a></li>
    <li><a href="jobs-change-password.html">
        <i class="fa fa-key" aria-hidden="true"></i> 
        <span>تغییر رمز عبور</span></a></li>
    <li><a href="index.html">
        <i class="fa fa-sign-out" aria-hidden="true"></i> 
        <span>خروج</span></a></li>
</ul>