{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- Content -->

        <!-- inner page banner END -->


			<!-- Call To Action END -->
			<!-- Our Latest Blog -->
			<div class="section-full content-inner-2 bg-white">
				<div class="container">
					<div class="section-head text-black text-center">
						<h2 class="text-uppercase m-b0">بخوانید</h2>
                        <br>
                        <br>
						<h3>
                     این یک وبسایت رزومه هستش و کامل نشده 
                    <br>
                    قطعا باگ هایی داره و خیلی از باگ ها رو هم خودم میدونم فقط یا باید قسمت های دیگه فیکس بشن تا اون باگ ها اوکی بشن یا اگه هم به قول معروف باگ هایی مستقل هستن (این اسم رو خودم گذاشتم) هنوز وقتشو پیدا نکردم برم سراغش
                    <br>    
                    در کل تمام سعیمو دارم میکنم این رزومه رو بهتر و قویترش کنم و فیچرهایی که دلم میخواد رو پیاده کنم
                    اینارو گفتم که بدونی این وبسایت صد در صد توانایی من نیست و بخشی از عملکرد منه :)
                    <br>
                        </h3>
                        <br>
                        <br>
                        <h5>
                            از اینکه وقت گذاشتی و این پیامو خوندی ممنونم
                        </h5>
					</div>

				</div>
			</div>
			<!-- Our Latest Blog -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Modal Box -->

	<!-- Modal Box End -->
{% endblock %}

