{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- contact area -->
        <div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white browse-job p-t50 p-b20">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4 m-b30">
							<div class="sticky-top">
								<div class="candidate-info">
									<div class="candidate-detail text-center">
										<div class="canditate-des">
											<a href="javascript:void(0);">
												<img alt="" style="width: 145px;height: 145px;" {% if obj.picture %} src="{{obj.picture.url}}" {% endif %}>
											</a>
										</div>
										<div class="candidate-title">
											<div class="">
												{% if obj.name %} <h4 class="m-b5"><a href="javascript:void(0);">{{obj.name}}</a></h4> {% else %}<h4 class="m-b5"><a href="javascript:void(0);">نام نویسی</a></h4>{% endif %}
											{% if obj.job %}<p class="m-b0"><a href="javascript:void(0);">{{obj.job}}</a></p>{% else %} <p class="m-b0"><a href="javascript:void(0);">شغل</a></p>{% endif %}
											</div>
										</div>
									</div>
									

									{% include 'profile_rtl_include.html' %}
								</div>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8 m-b30">
							<div class="job-bx job-profile">
								<div class="job-bx-title clearfix">
									<h5 class="font-weight-700 pull-left text-uppercase">اطلاعات اولیه</h5>
									<a href="index.html" class="site-button right-arrow button-sm float-right">بازگشت</a>
								</div>
								<form method='post' action='' enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row m-b30">
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>نام:</label>
												{{form.name}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>نام خانوادگی:</label>
												{{form.lastname}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>حرفه:</label>
											{{form.job}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>سن:</label>
											{{form.age}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>تلفن تماس:</label>
												{{form.phone_number}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>محل اقامت:</label>
											{{form.city}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>کد پستی</label>
											{{form.code_posty}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>جنسیت</label>
											{{form.sex}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>تحصیلات</label>
											{{form.tahsilat}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>لینکدین</label>
											{{form.linkedin}}
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label>تگ های شما</label>
											{{form.key}}
											</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<label>آدرس منزل:</label>
											{{form.address}}
											</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="form-group">
												<label>توضیحات بیشتر:</label>
											{{form.info}}
											</div>
										</div>
										<div class="row">
										

											<div id="attach_resume_bx" class="job-bx m-b30">
												<h5 class="m-b10">عکس پروفایل</h5>
												<p>برای خود یک عکس پروفایل بسازید تا حرفه ایی تر باشید</p>
												
													<div class="row">
														<div class="col-lg-12 col-md-12">
															<div class="form-group">
																<div class="custom-file">
																	<p class="m-auto align-self-center">
																	   <i class="fa fa-upload"></i>
																	   آپلود (حداکثر 4 مگابایت)
																	</p>
																	<br>
																	{{form.picture}}
																</div>
															</div>
														</div>
													</div>
											</div>
										</div>
									</div>
									<div class="job-bx-title clearfix">
										<h5 class="font-weight-700 pull-left text-uppercase">رزومه شما</h5>
									</div>
									<div class="row">
										

										<div id="attach_resume_bx" class="job-bx m-b30">
											<h5 class="m-b10">آپلود رزومه</h5>
											<p>رزومه مهمترین مدرکی است که استخدام کنندگان به دنبال آن هستند. استخدام کنندگان به طور کلی به پروفایل های های بدون رزومه نگاه نمی کنند.</p>
											
												<div class="row">
													<div class="col-lg-12 col-md-12">
														<div class="form-group">
															<div class="custom-file">
																<p class="m-auto align-self-center">
																   <i class="fa fa-upload"></i>
																   آپلود (حداکثر 8 مگابایت)
																</p>
																{{form.cv_file}}
															</div>
														</div>
													</div>
												</div>
											
											<p class="text-center">
												اگر رزومه ندارید، می توانید مختصری از مشخصات حرفه ای خود را در <a class="site-button-link" href="javascript:void(0);">اینجا </a> بنویسید.
											</p>
										</div>

									</div>
									<button type='submit' class="site-button m-b30">ذخیره</button>
								</form>
							</div>    
						</div>
					</div>
				</div>
			</div>
            <!-- Browse Jobs END -->
		</div>
    </div>
    <!-- Content END-->
	<!-- Modal Box -->
	<div class="modal fade lead-form-modal" id="car-details" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-body row m-a0 clearfix">
					<div class="col-lg-6 col-md-6 overlay-primary-dark d-flex p-a0" style="background-image: url(images/background/bg3.jpg);  background-position:center; background-size:cover;">
						<div class="form-info text-white align-self-center">
							<h3 class="m-b15">وارد حساب کاربری خود شوید</h3>
							<p class="m-b15">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							<ul class="list-inline m-a0">
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="m-r10 text-white"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 p-a0">
						<div class="lead-form browse-job text-left">
							<form>
								<h3 class="m-t0">ورود</h3>
								<div class="form-group">
									<input value="" class="form-control" placeholder="نام">
								</div>	
								<div class="form-group">
									<input value="" class="form-control" placeholder="شماره موبایل">
								</div>
								<div class="clearfix">
									<button type="button" class="btn-primary site-button btn-block">ثبت </button>
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- Modal Box End -->

{% endblock %}