
<!-- Call To Action -->
<div class="section-full content-inner bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section-head text-center">
                <h2 class="m-b5">شهرهای تحت پوشش</h2>
                <h6 class="fw5 m-b0">لورم ایپسوم متن ساختگی</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic1.jpg)">
                        <div class="city-info">
                            <h5>کرمان</h5>
                            <span>65 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic2.jpg)">
                        <div class="city-info">
                            <h5>گیلان</h5>
                            <span>21 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic3.jpg)">
                        <div class="city-info">
                            <h5>همدان</h5>
                            <span>63 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic4.jpg)">
                        <div class="city-info">
                            <h5>اردبیل</h5>
                            <span>23 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic5.jpg)">
                        <div class="city-info">
                            <h5>آذربایجان غربی</h5>
                            <span>65 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic6.jpg)">
                        <div class="city-info">
                            <h5>ایلام</h5>
                            <span>21 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic7.jpg)">
                        <div class="city-info">
                            <h5>سمنان</h5>
                            <span>63 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                <a href="javascript:void(0);">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic8.jpg)">
                        <div class="city-info">
                            <h5>زنجان</h5>
                            <span>23 عنوان شغل</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>